.Text {
  flex-grow: 1;
  text-align: center;
}

.Text-Color {
  color: #333 !important;
}

h3{
  margin-top: 30px !important;
  font-weight: 300 !important;
}

button {
  margin-top: 30px !important;
 border-radius: inherit !important;
}
